@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #0f172a;
  background: #f8fafc;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
